{% extends "base.html" %}

{% block title %} Обо мне {% endblock %}

{% block content %}
<div class="container py-3">

  <h3> Количество проектов: {{ projects_count }} шт.</h3>
  <h3>
    <div class="row">
      <div class="col-2">
        Мой стек:
      </div>
      <div class="col-10">
        {% for skill in skills %}
          <a class="btn btn-primary btn-sm" href="{% url 'projects:skill' skill.slug %}" role="button">{{ skill }}</a>
        {% endfor %}
      </div>
    </div>
  </h3>

  <h3>
      Обо мне:
  </h3>

  <div class="container">
    <div class="row">
      <div class="col">
          <ul> Долгое время меня интересовало программирование, и я несистемно изучал различные языки программирования и технологии.
          Но только после завершения этапа предпринимательства, я решил сделать этот интерес своей профессией. 
          Системное обучение позволило определить вектор развития и получить базовые навыки.</ul>
        
          <ul> Сфера IT не стоит на месте - создаются новые технологии и продукты, которые меняют мир и я хочу быть в потоке с этими изменениями.
          Создать код, который будет множество раз выполнять монотонные действия вместо тебя - воодушевляет. 
          Меня интересует логика приложения, как выполнить действие максимально быстро и эффективно, как создать и автоматизировать инфраструктуру для работы.</ul>
        
          <ul> Поэтому Python стал отличным инструментом из-за его универсальности и распространенности.
          Backend, telegram боты и парсинг - в данных направлениях я активно развиваюсь, работая над собственными проектами.</ul>
      </div>
      <div class="col">
          <ul> В качестве источника использую официальную документацию (www.djangoproject.com и www.django-rest-framework.org). 
          Помогают в развитии навыков такие каналы в youtube, как "PythonToday" и "selfedu".
          Кроме того, stackoverflow.com часто выручает для решения различных задач.</ul>
        
          <ul> Предыдущий опыт работы в различных командах научил меня находить общий язык с коллегами.
          Ведь большая работа не делается в одиночку и эффективная коммуникация крайне важна.</ul>
        
          <ul> Увлекаюсь историей, особенно интересуюсь периодом средневековья и древнего мира, а также, философией того времени.</ul>
        
          <ul> Предпочитаемый формат работы: офис/гибрид (Ростов-на-Дону), удаленно - любая локация.</ul>
          <ul> Предпочитаемый график: полный день, гибкий график, удаленная работа.</ul>
      </div>
    </div>
  </div>

  <div class="d-grid justify-content-md-center">
    <a class="btn btn-primary btn-lg" href="{{ resume }}" role="button">Скачать полное резюме</a>
  </div>
</div>

{% endblock %}